# This configuration file is used to customize the behavior of Lombok in the project.
# 
# - config.stopBubbling: Stops Lombok from searching parent directories for additional configuration files.
# - lombok.addLombokGeneratedAnnotation: Adds the @Generated annotation to Lombok-generated code, which can be useful for excluding such code from test coverage tools like JaCoCo.
# 
# The following configurations are commented out but can be enabled if needed:
# - lombok.accessors.chain: Enables chained accessors for generated getter and setter methods.
# - lombok.anyConstructor.addConstructorProperties: Adds @ConstructorProperties annotation to generated constructors.
# - lombok.fieldDefaults.defaultPrivate: Makes all fields private by default.

# stop lombok from looking at parent directories for more configuration files
config.stopBubbling = true

# No need for test coverage on Lombok generated code with JaCoCo
lombok.addLombokGeneratedAnnotation = true

# lombok.accessors.chain = true
# lombok.anyConstructor.addConstructorProperties = true
# lombok.fieldDefaults.defaultPrivate = true